body
{
   background-color: darkgrey;
}
/* ------------------------------------------------------- */

#back               
{
   
   opacity: 0.5;
   position: absolute;
   left: 42.5%;
   top: 43%;
   font-size: 2.2rem;
}

/* ---------------------------bars------------------------------- */
div.style
{
   width: 160px;
   height: 20px;
   /* border: 1px solid black; */
   border-radius: 0.5cm;
   position: absolute;
   box-shadow: 3px 3px grey;

}
#bar-1
{
    top:5px;
    left:45%;
    background-color: rgba(248, 37, 0, 0.856);
}
#bar-2
{
    bottom:5px;
    left:45%;
    background-color: dodgerblue;
}
.label
{
    position:absolute;
    left: 40%
}
#ball
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    left: 49%;
}
#ball.blue
{
    background-color: dodgerblue;
}
#ball.red
{
    background-color: rgba(248, 37, 0, 0.856);
}

/* -----------------------------------form----------------------------------- */
#form
{
    width: 250px;
    height: 130px;
    /* border: 1px solid black; */
    position: absolute;
    left:70%;
    top:45%;
    overflow: hidden;
}
button
{
    margin-top: 20px;
    margin-left:100px;
    background-color: rgb(173, 24, 24);
    border-radius: 0.2cm;
    width: 80px;
    height: 30px;
    color: lavenderblush;
}
form input
{
    background-color: rgb(77, 75, 75);
    outline: none;
    margin-left: 10px;
    margin-bottom: 10px;
    color: lavenderblush;
    padding: 5px;

}
/* -------------------------------score-------------------------- */
.size
{
   width: 50px;
   height: 50px;
   border: 1px solid rgb(85, 74, 74);
   position: absolute;
   left: 48%;
}
div p
{
   margin-left:23px ;
}
#score_1
{
    top:40%;
}
#score_2
{
    top:55%
}